@use "global" as *;

.footer {
    display: block;
    width: 100%;
    background: rgba(0, 128, 0, 1);
    text-align: center;

    @include mq(md) {
        max-width: rem(1100);
        margin: 0 auto;
        // 
    }
}