@use "global" as *;

.header {
    display: block;
    width: 100%;
    background: rgba(255, 99, 71, 1);

    @include mq(md) {
        max-width: rem(1100);
        margin: 0 auto;
        // 
    }
}