@use "global" as *;

.main {
    @include mq(md) {
        display: block;
        max-width: rem(1100);
        width: 100%;
        margin: 0 auto;
        // 
    }
}

.main-box ul {
    @include mq(md) {
        display: flex;
        flex-direction: row;
        // 
    }
}

.main-box li {
    @include mq(md) {
        display: flex;
        align-items: center;
        // 
    }
}